/*html,body,svg { height:100% }*/



canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

