/*html,body,svg { height:100% }*/

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}


html,body {
    height:100%;
}
body {
    transition:all 0.4s;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 150px;
    transition:all 0.4s;
    /*top:50%;*/
    position: relative;
    color:rgba(0,0,0,0.4);
}
span {
    color:rgba(0,0,0,0.4);
    /*text-shadow:1px 1px 0 rgba(0,0,0,0.5);*/
    padding:5px;
    display: inline-block;
    /*font-weight: 600;*/
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}

